@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');
:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  --size-font:50px;
  --button-font-size: 10px;
  --size-border: 7px;
}

* {
  box-sizing: border-box;
  background-color: var(--color-black);
}
body{
  /* padding-top: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
}
.logo{
  margin-bottom: 20px;
  align-self: center;
  width: 100px;
  cursor:pointer;
  transition: transform var(--size-animation-duration) ease;
}
.logo:hover, .btn:hover{
  transform: scale(1.1);
}
h1, span{
  font-family: 'Gaegu', cursive;
}
h1{
  font-size:var(--size-font)
}
span{
  font-size: 20px;
}
.buttons{
  width:350px;
  display: flex;
  justify-content: space-around;
}
.btn{
  background-color: transparent;
  border:none;
  outline:none;
  cursor:pointer;
  /* transition: transform var(--size-animation-duration) ease; */
}
.imgBtn{
  --size-animation-duration: 300ms;
}
.colorBtn{
  width:60px;
  text-align: center;
  border-radius: var(--size-border);
  font-size: var(--button-font-size);
}
.btn:nth-child(5){
  width:40px;
}
.blue{
  background-color: var(--color-blue);
}
.yellow{
  background-color: var(--color-yellow);
}
.pink{
  background-color: var(--color-pink);
}
.imgBtn, .btn{
  width: 30px; 
}
.items{
  height: 500px;
  padding-left: 0px;
  list-style-type: none;
  overflow-y: scroll;
}
.items::-webkit-scrollbar {
  display: none;
} 
.item{
  padding:5px;
  margin-top: 10px;
  border-radius: var(--size-border);
  width: 350px;
  transition: all 0.5s;
}
.item:hover{
  transform: translate(0, -10px);
}
.item, .item__thumbnail, .item__description{
  background-color: white;
}
.item__detail, .item__detail__element{
  background-color: var(--color-white);
}

.item__thumbnail{
  height: 30px;
}
h1{
  text-align: center;
  color:#fd7f84
}